* {
    box-sizing: border-box;
    position: relative;
    min-width: 0;
    font: inherit

}

img, video, svg{
    display: block;
    height: auto;
    max-width: 100%;
}

body{
    margin: 0;
    min-height: 100dvh;

}

h1, h2, h3, h4{
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}
